<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="WebUrl" value=""/>
    <add key="siteUrl" value="http://ws2018:19568/"/>
    <add key="RoutinePlanList" value="例行计划"/>
    <add key="PlanList" value="个人学习助手"/>
    <add key="DuringDays" value="2"/>
  </appSettings>
</configuration>